:root { 
    --bs-blue: #0d6efd; 
    --bs-indigo: #6610f2; 
    --bs-purple: #6f42c1; 
    --bs-pink: #d63384; 
    --bs-red: #dc3545; 
    --bs-orange: #fd7e14; 
    --bs-yellow: #ffc107; 
    --bs-green: #198754; 
    --bs-teal: #20c997; 
    --bs-cyan: #0dcaf0; 
    --bs-white: #fff; 
    --bs-gray: #6c757d; 
    --bs-gray-dark: #343a40; 
    --bs-primary: #0d6efd; 
    --bs-secondary: #6c757d; 
    --bs-success: #198754; 
    --bs-info: #0dcaf0; 
    --bs-warning: #ffc107; 
    --bs-danger: #dc3545; 
    --bs-light: #f8f9fa; 
    --bs-dark: #212529; 
    --bs-font-sans-serif: "Barlow Semi Condensed", sans-serif, "Fraunces", serif; 
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; 
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)); 
    --font-1: 'Barlow Semi Condensed', sans-serif;
    --font-2: 'Fraunces', serif;
    --font-size-small: .7rem;
    --font-size-medium: 1.4rem;
    --font-size-big: 2.8rem;
    --font-size-bigger: 3.5rem;
    --border-link-1: 7px solid #ffff004f;
    --border-link-2: 7px solid #ff73643d;
    --bg-image-header: url('../../images/desktop/image-header.jpg');
    --left-1-img: url('../../images/desktop/image-transform.jpg');
    --right-1-img: url('../../images/desktop/image-stand-out.jpg');
    --left-2-img: url('../../images/desktop/image-graphic-design.jpg');
    --right-2-img: url('../../images/desktop/image-photography.jpg');
    --bg-mobile-menu: #7dcdf6b5;
} 