*{
    background-color: #fdf1ec;
    color: #534f4b;
    text-transform: capitalize;
}

.card {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 60%;
    border-radius: 25px;
}

.left {
    float: left;
}

img {
    border-radius: 12px 0px 0px 12px;
}

.right {
    box-sizing: border-box;
    float: left;
    background-color: #ffffff;
    width: 58%;
    height: 419px;
    border-radius: 0px 12px 12px 0px;
}

h1 {
    margin-top: 60px;
    margin-left: 100px;
    background-color: #ffffff;
    font-size: 240%;
    margin-bottom: -13px;
}


h3 {
    font-family: 'Raleway', sans-serif;
    color: #a8a6a4;
    margin-left: 100px;
    background-color: #ffffff;
}

article {
    font-family: 'Playfair Display', serif;
    margin-left: 100px;
    background-color: #ffffff;
    width: 70%;
    margin-bottom: 30px;
    font-size: 109%;
}

.price {
    font-size: 220%;
    font-weight: 600;
    font-family: 'Suranna', serif;
    margin-left: 100px;
    margin-right: 49px;
    background-color: #ffffff;
}

button {
    font-family: Tahoma;
    letter-spacing: 2px;
    font-size: 110%;
    background-color: #9cebd5;
    border-radius: 50px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 11px 40px 10px 40px;
    border-color: transparent;
}

button:hover {
    box-shadow: rgb(94, 244, 202) 0px 2px 7px;
    border: 1px solid #daf9f0;
}