:root { 
    --bs-blue: #0d6efd; 
    --bs-indigo: #6610f2; 
    --bs-purple: #6f42c1; 
    --bs-pink: #d63384; 
    --bs-red: #dc3545; 
    --bs-orange: #fd7e14; 
    --bs-yellow: #ffc107; 
    --bs-green: #198754; 
    --bs-teal: #20c997; 
    --bs-cyan: #0dcaf0; 
    --bs-white: #fff; 
    --bs-gray: #6c757d; 
    --bs-gray-dark: #343a40; 
    --bs-primary: #0d6efd; 
    --bs-secondary: #6c757d; 
    --bs-success: #198754; 
    --bs-info: #0dcaf0; 
    --bs-warning: #ffc107; 
    --bs-danger: #dc3545; 
    --bs-light: #f8f9fa; 
    --bs-dark: #212529; 
    --bs-font-sans-serif: "Barlow Semi Condensed", sans-serif, "Fraunces", serif; 
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; 
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)); 
    --font-1: 'Barlow Semi Condensed', sans-serif;
    --font-2: 'Fraunces', serif;
} 
    
* {
    box-sizing: border-box;
    user-select: none;
    margin: 0;
    padding: 0;
}
   
body {
    font-family: var(--font-family);
}

img {
    display: block;
    max-width: 100%;
}

/*=============
Typography 
=============*/
body {
    font-family: var(--font-1);
}

h1,
nav button,
h2,
a.link,
h3,
h4,
h5 {
    font-family: var(--font-2);
}

h1,
nav button,
a.link {
    text-transform: uppercase;
}

header,
header a {
    color: var(--bs-white);
}

.title > p {
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 1px
}
a {
    text-decoration: none;
}

nav button,
header a {
    font-size: .7rem;
}

nav button {
    font-weight: 700;
}

.center-title h1 {
    font-size: 2.8rem;
    letter-spacing: 7px;
    text-align: center;
}

.container-section h2 {
    font-size: 2.8rem;
}

.container-section p {
    font-size: .7rem;
    letter-spacing: .4px;
}

.container-section a {
    color: var(--bs-dark);
    font-weight: 700;
    font-size: .7rem;
}

.container-section a.yellow {
    border-bottom: 7px solid #ffff004f;
}

.container-section a.pink {
    border-bottom: 7px solid #ff73643d;
}

.container-flex-50 .container-section.cherry > *,
.container-flex-50 .container-section.tangerine > * {
    color: var(--bs-gray-dark);
}

.testimonials h4 {
    text-align: center;
    text-transform: uppercase;
    color: var(--bs-secondary);
    letter-spacing: 5px;
}

.user-feedback p {
    font-size: .7rem;
    letter-spacing: .7px;
}

.user-feedback h6 {
    color: var(--bs-secondary);
    text-transform: capitalize;
}

footer{
    color: var(--bs-green);
}

.footer-title p {
    font-size: 1.4rem;
    font-weight: 700;
}

footer a {
    color: var(--bs-green);
    font-size: .7rem;
}
  
 /*=============
 Layout
 =============*/
 .container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.container-flex {
    display: flex;
    margin: 20px 20px;
    justify-content: space-between;
    align-items: center;
}

.header-image {
    background-image: url('./images/desktop/image-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 600px;
    justify-content: space-between;
}

nav {
    display: flex;
    height: max-content;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-between;
}

ul li {
    margin-right: 20px;
}


nav button {
    background-color: #feffff;
    border: none;
    border-radius: 25px;
    padding: 8px 16px;
}

.center-title{
    padding: 80px;
}

.center-title h1 {
    margin-bottom: 80px;
}

.center-title img {
    margin: 0 auto;
}

.container-flex-50 {
    display: flex;
}

.container-section h2,
.container-section p {
    margin-bottom: 40px;
}

.container-flex-50 .container-section {
    flex-basis: 50%;
}

.container-flex-50 .container-section.p-80 {
    padding: 80px;
}

.container-flex-50 .container-section.cherry,
.container-flex-50 .container-section.tangerine {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 400px;
}

.container-flex-50 .container-section.cherry > *,
.container-flex-50 .container-section.tangerine > * {
    margin-bottom: 40px;
    width: 275px;
    text-align: center;
}

.container-flex-50 .egg {
    background-image: url('./images/desktop/image-transform.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.container-flex-50 .cup {
    background-image: url('./images/desktop/image-stand-out.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.container-flex-50 .cherry {
    background-image: url('./images/desktop/image-graphic-design.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.container-flex-50 .tangerine {
    background-image: url('./images/desktop/image-photography.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.testimonials {
    background-color: var(--bs-light);
    padding: 80px;
}

.testimonials h4 {
    margin-bottom: 80px;
}

.user-feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-feedback > * {
    margin-bottom: 20px;
}

.user-feedback img {
    border-radius: 50%;
    width: 25%;
}

.user-feedback p {
    width: 85%;
}

.gallery {
    display: flex;
    height: 300px;
}

.gallery-img {
    flex-basis: 25%;
}

footer {
    background: var(--bs-teal);
    margin-top: -16px;
    padding: 80px;
}

.footer-content > :not(.icons) {
    margin-bottom: 20px;
}

.footer-title {
    text-align: center;
}

.footer-content nav ul{
    margin: 0 auto;
}

.icons {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 130px;
}

.icon {
    width: 10px;
    cursor: pointer;
}









